
# liblzr test binaries
liblzr/test_optimizer
liblzr/test_interpolator
liblzr/test_transformations
liblzr/test_ilda

# lzrd test binaries
lzrd/lzrd
lzrd/spiro_server
lzrd/interp_server
lzrd/ilda_server

# lzrv binaries
lzrv/lzrv

# Created by https://www.gitignore.io

### C ###
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

