
# liblzr test binaries
test_optimizer
test_interpolator
test_transformations
test_ilda

# lzrd test binaries
lzrd
spiro_server
interp_server
ilda_server

#lzrv binaries
lzrv

# Created by https://www.gitignore.io

### C ###
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

