
QMainWindow {
    background: #222;
}

QMainWindow,
QMainWindow * {
    color:#AAA;
}

QToolButton,
QListView,
QSpinBox {
    background: #333;
}

QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width: 25px;
}

QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width: 25px;
}
